// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.High{
  background-color: #D9534F;
  border-radius: 180px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
}
.Medium{
  background-color: #F0AD4E;
  border-radius: 180px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
}
.Low{
  background-color: #5CB85C;
  border-radius: 180px;
  height: 15px;
  width: 15px;
  display: inline-block;
  vertical-align: top;
}
