<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <title>AngularSprint</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="task" class="container" ng-view="">
  <%= yield %>
</div>

</body>
</html>
